streamlit
python-dotenv
google-generativeai
youtube-transcript-api
langchain
langchain_community
langchain-google-genai
langchain-experimental
sentence-transformers
faiss-cpu
langchain-chroma
langchainhub
pypdf
rapidocr-onnxruntime
PyPDF2
pysqlite3-binary  # Fixes SQLite version issue for Chroma
